.customForm {
  text-align: center;
}
.customForm ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin: 1em 0;
}

.customForm ul li {
  list-style: none;
  font-size: 16px;
}

.btnBox {
  margin: 0 auto;
  max-width: 60%;
}

.sizeBox fieldset{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 20px 0;
}

.sizeBox{
  max-width: 900px;
  margin: 2em auto;
}


.quantityBox {
  max-width: 700px;
  margin: 10px auto;
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .customForm ul {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .btnBox {
    margin: 0 auto;
    max-width: 45%;
  }
}

@media screen and (min-width: 1200px) {
  .customForm ul {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
