.customDetailBox,
.customFormBox {
  margin: 1em auto;
  max-width: 1400px;
  padding: 15px;
}

.customDetailBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 3em;
}

.customDetailBox img {
  width: 60%;
  padding: 5px;
}

.customDetailBox p {
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .customDetailBox {
    flex-direction: row;
  }

  .customDetailBox img {
    width: 40%;
  }
}
