.reviewIntro {
  padding: 15px;
  margin: 10px auto;
  max-width: 900px;
}
.reviewIntro button {
  max-width: 50%;
  margin: 2em auto;
}

.reviewListBox {
  padding: 15px;
  margin: 10px auto;
  max-width: 1000px;
}
