.footer {
  background-color: var(--primaryColor, #0fa3b1);
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  padding: 50px;
  text-align: center;
  color:white;
}

.instagram,
.facebook {
  width: 40px;
  margin: 0px 20px;
  color: white;
  transition: 0.25s;
  border-radius: 0px;
}

@media screen and (min-width: 700px) {
  .footer {
    flex-direction: row;
    justify-content: space-around;
  }
}
