/* Slideshow Container */
.slideshow {
  position: relative;
  width: 100%;
}

.slideContainer {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

/* Content Styles */
.content {
  position: absolute;
  right: 10px;
  bottom: 40px;
  left: 10px;
  padding: 15px;
  line-height: normal;
  border-radius: 10px;
  background-color: rgba(128, 128, 128, 0.95);
  transition: 0.25s;
  font-size: 16px;
  z-index: 1;
}

.caption {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.caption h1 {
  color: white;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

.caption p {
  color: white;
  margin: 0;
  padding: 0;
}

.caption img {
  max-width: 350px;
  width: 80%;
  height: auto;
  margin-bottom: 20px;
}

.link:hover {
  opacity: 1;
  background-color: var(--accentTwo, #ff9b42);
  border-radius: 10px;
}

.welcomeLogo {
  max-width: 200px;
  width: 60%;
  height: auto;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .content {
    right: 50px;
    bottom: 80px;
    left: auto;
    top: auto;
    padding: 20px;
    font-size: 18px;
    max-width: 500px;
  }

  .caption {
    padding: 40px;
  }

  .caption h1 {
    font-size: 2rem;
  }

  .caption img {
    max-width: 500px;
    width: 70%;
  }

  .welcomeLogo {
    max-width: 350px;
    width: 70%;
  }
}

@media screen and (min-width: 1000px) {
  .content {
    right: 80px;
    bottom: 100px;
    padding: 25px;
    font-size: 20px;
    max-width: 600px;
  }

  .caption img {
    max-width: 500px;
    width: 80%;
  }

  .welcomeLogo {
    max-width: 450px;
    width: 80%;
  }
}
